.sorting-visualizer {
  display: block;
  background-color: white;
  padding: 20px 30px 20px 30px;
}

.sorting-visualizer .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 20px 0;
}

.sorting-visualizer .title {
  margin: 0 0 30px 0;
}

.sorting-visualizer .logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 0 0 4px 0;
}

.sorting-visualizer .settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.sorting-visualizer .slider {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

.sorting-visualizer .slider-input {
  background: #cccccc;
  width: 150px;
  height: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.sorting-visualizer .slider-input:hover {
  opacity: 1;
}

.sorting-visualizer .slider-input::-webkit-slider-thumb {
  cursor: pointer;
}

.sorting-visualizer .slider-input::-moz-range-thumb {
  cursor: pointer;
}

.sorting-visualizer .slider-input:disabled {
  opacity: 0.3;
}

.sorting-visualizer .text {
  margin: 0;
}

.sorting-visualizer .status {
  font-weight: 600;
  margin: 0;
}

.sorting-visualizer .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
}

.sorting-visualizer .list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

.sorting-visualizer .buttons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.sorting-visualizer .buttons .button {
  background: #f7f7f7;
  width: 104px;
  height: 32px;
  margin: 0 8px 8px 8px;
  border: solid 2px lightgray;
  border-radius: 4px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.sorting-visualizer .buttons .button:hover {
  background: #fafafa;
  box-shadow: 3px 3px 3px #eaeaea;
}

.sorting-visualizer .buttons .button:active {
  box-shadow: inset 1px 1px 1px #dfdfdf;
  color: black;
}

.sorting-visualizer .list .bar {
  display: flex;
  width: 4px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
}

@media only screen and (max-width: 750px) {
  .sorting-visualizer .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sorting-visualizer .list .bar {
    width: 1px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 1px;
  }  
}
