main,
body {
  display: flex;
  justify-content: center;
}

.shuffle {
  margin: 4px;
}

.quicksort {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  overflow: scroll;
}

.sort {
  margin: 4px;
}

.quicksort .card {
  display: flex;
  width: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 4px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 5px;
}
