main,
body {
  display: block;
  background-color: white;
  padding: 20px 30px 20px 30px;
}

.title {
  margin: 0 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.sorting {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.title .logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.text {
  margin: 0;
}

.buttons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  margin: 0 10px 0 10px;
}

.sorting .bar {
  display: flex;
  width: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .sorting .bar {
    display: flex;
    width: 4px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1.5px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
}
