main,
body {
  display: block;
  background-color: white;
  padding: 20px 30px 20px 30px;
}

.title {
  margin: 0 0 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.sorting {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}

.title .logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  margin: 0;
}

.text {
  margin: 0;
}

.text .a {
  text-decoration: none;
  color: black;
}

.text .a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.buttons {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  margin: 8px;
}

.sorting .bar {
  display: flex;
  width: 4px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

@media only screen and (max-width: 1100px) {
  .sorting .bar {
    width: 4px;
    flex-shrink: 1;
    margin: 1.5px;
    border-radius: 1.5px;
  }
}

@media only screen and (max-width: 1000px) {
  .sorting .bar {
    width: 3px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1px;
    border-radius: 1.5px;
  }
}

@media only screen and (max-width: 800px) {
  .sorting .bar {
    width: 2px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1px;
    border-radius: 1px;
  }
}
