main,
body {
  display: flex;
  background-color: white;
  justify-content: center;
}

.quicksort {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.quicksort button {
  margin: 8px;
}

.quicksort .bar {
  display: flex;
  width: 7px;
  flex-grow: 0;
  flex-shrink: 1;
  margin: 2.5px;
  justify-content: center;
  align-items: center;
  border-radius: 3.5px;
}
